body {
  background-color: #006C85 !important; /* petrol blue */
  color: #ffffff; /* optional: makes text readable */
}

.icon-pack-custom .icon-bluesky svg {
  width: 1em !important;
  height: 1em !important;
  max-width: 100% !important;
  max-height: 100% !important;
  vertical-align: middle;
}
